/* _forma-boilerplate.css */
.forma .forma-control,
.forma [type="submit"] {
	font: var(--font-mono);
	padding: var(--space);
}
.forma label {
	cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: var(--space);
    position: relative;
}
.forma .forma-label {
	flex: 0 0 30%;
    order: 1;
}
.forma .forma-valid {
}
.forma .forma-invalid {
}
.forma .forma-description {
}
.forma .forma-input {
}
.forma .forma-message {
}
.forma .forma-message:before {
}
.forma .forma-fieldset {
	display: none;
    flex: 1 1 auto;
    order: 2;
    position: relative;
}
.forma .forma-open .forma-fieldset {
	align-items: center;
    display: flex;
}
.forma .forma-open .forma-fieldset:after {
	align-items: center;
    content: 'Hit tab';
    display: flex; 
    font-size: 85%;
    padding: .3rem;
    position: absolute;
    right: 1rem;
    z-index: 10;
}
.forma .forma-open.forma-manual:before {
	content: '-';
}
.forma .forma-manual:before {
	align-items: center;
    content: '+';
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    order: 99; /* Make sure this is at the end of everything else. */
    padding: 0 var(--space);
}
.forma .forma-fieldset * {
	width: calc(100% - 2rem - 2px); /* Fix fields width substract border & padding extra spacing. */
}
.forma .forma-fieldset .forma-control {
	border: 1px solid rgba(var(--black), .1);
	outline: 4px solid transparent;
}
.forma .forma-fieldset .forma-control:focus {
}
.forma .forma-fieldset .forma-control:focus:valid {
}
.forma .forma-fieldset .forma-control:focus:invalid {
}
.forma .forma-fieldset select {
	bottom: 0;
    height: inherit;
    max-height: 4rem;
    position: absolute;
    top: 0;
    width: 100%;
}
.forma [type="submit"] {
	background-color: rgba(var(--black), .1);
    border: 0;
    cursor: pointer;
    margin: var(--space);
    outline: 0;
    width: calc(100% - 2rem - 2px); /* Fix fields width substract border & padding extra spacing. */
}
.forma [type="submit"]:focus,
.forma [type="submit"]:active,
.forma [type="submit"]:hover {
}
.forma [type="submit"]:disabled {
	background-color: rgba(var(--black), .2);
    color: rgba(var(--black), .4);
    cursor: not-allowed;
}