/* _forma-base.css */
body {
    font: var(--font-mono);
}
.forma input,
.forma select,
.forma textarea,
.forma button {
    font: var(--font-mono);
    padding: var(--space);
}
.forma label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space);
    position: relative;
}
.forma label span {
    flex: 0 0 30%;
    order: 1;
}
.forma label span.forma-valid {
}
.forma label span.forma-invalid {
}
.forma label span .forma-description {
}
.forma label span .forma-input {
}
.forma label span .forma-message {
}
.forma label span .forma-message:before {
}
.forma label .forma-fieldset {
    display: none;
    flex: 1 1 auto;
    order: 2;
    position: relative;
}
.forma label.forma-open .forma-fieldset {
    align-items: center;
    display: flex;
}
.forma label.forma-open .forma-fieldset:after {
}
.forma label.forma-open.forma-manual:before {
}
.forma label.forma-manual:before {
}
.forma label .forma-fieldset * {
}
.forma label .forma-fieldset input,
.forma label .forma-fieldset select,
.forma label .forma-fieldset textarea,
.forma label .forma-fieldset button {
}
.forma label .forma-fieldset input:focus,
.forma label .forma-fieldset select:focus,
.forma label .forma-fieldset textarea:focus,
.forma label .forma-fieldset button:focus {
}
.forma label .forma-fieldset input:focus:valid,
.forma label .forma-fieldset select:focus:valid,
.forma label .forma-fieldset textarea:focus:valid,
.forma label .forma-fieldset button:focus:valid {
}
.forma label .forma-fieldset input:focus:invalid,
.forma label .forma-fieldset select:focus:invalid,
.forma label .forma-fieldset textarea:focus:invalid,
.forma label .forma-fieldset button:focus:invalid {
}
.forma label .forma-fieldset select {
}
.forma [type="submit"] {
    background-color: rgba(var(--black-rgb-color), .1);
    border: 0;
    cursor: pointer;
    margin: var(--space);
    outline: 0;
}
.forma [type="submit"]:focus,
.forma [type="submit"]:active,
.forma [type="submit"]:hover {
}
.forma [type="submit"]:disabled {
}