/* _forma.css */
.forma {}

.forma label {
    border-top: 1px solid rgba(var(--black-rgb-color), .1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}
.forma label:after {
    background-color: rgba(var(--black-rgb-color), .03);
    border: 1px solid rgba(var(--black-rgb-color), .1);
    bottom: 2rem;
    content: 'Hit Tab'; 
    display: none;
    font-size: 85%;
    padding: .2rem .5rem;
    position: absolute;
    right: 2rem;
}
.forma label.forma-open:after {
    display: block;
}

.forma span {
    background-color: rgba(var(--black-rgb-color), .15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
.forma span em {
    color: rgba(var(--black-rgb-color), .3);
    display: block;
    font-size: 85%; 
}
.forma span.invalid {
    color: var(--error-color);
}
.forma span.invalid:before {
    background-color: rgba(var(--white-rgb-color), 1);
    border: 1px solid rgba(var(--black-rgb-color), .1);
    color: rgba(var(--black-rgb-color), 1);
    content: 'Hint: ' attr(data-rules);
    display: block;
    font-size: 85%;
    margin-bottom: .5rem;
    padding: .25rem .5rem;
    position: absolute;
    right: 1rem;
}

.forma strong {
    font-weight: 700;
}
.forma strong.valid {
    color: var(--success-color);
}
.forma strong.invalid {
    color: var(--error-color);
}

.forma .fieldset {
    background-color: rgba(var(--black-rgb-color), .05);
    display: none;
    padding: 1rem;
}

.forma input[type="text"],
.forma input[type="email"],
.forma input[type="password"],
.forma input[type="url"],
.forma input[type="number"],
.forma select,
.forma textarea {
    border: 1px solid rgba(var(--black-rgb-color), .1);
    width: 100%;
}

.forma select {
    height: 4rem;
    min-height: 4rem;
}

.forma input[type="text"]:focus,
.forma input[type="email"]:focus,
.forma input[type="password"]:focus,
.forma input[type="url"]:focus,
.forma input[type="number"]:focus,
.forma select:focus,
.forma textarea:focus {
    outline: 4px solid transparent;
}

.forma input[type="text"]:focus:valid,
.forma input[type="email"]:focus:valid,
.forma input[type="password"]:focus:valid,
.forma input[type="url"]:focus:valid,
.forma input[type="number"]:focus:valid,
.forma select:focus:valid,
.forma textarea:focus:valid {
    outline: 4px solid var(--success-color);
}

.forma input[type="text"]:focus:invalid,
.forma input[type="email"]:focus:invalid,
.forma input[type="password"]:focus:invalid,
.forma input[type="url"]:focus:invalid,
.forma input[type="number"]:focus:invalid,
.forma select:focus:invalid,
.forma textarea:focus:invalid {
    outline: 4px solid var(--error-color);
}

.forma input[type="submit"],
.forma input[type="reset"],
.forma button[type="submit"] {
    background-color: var(--primary-color);
    border: 0;
    color: rgba(var(--white-rgb-color), .85);
    cursor: pointer;
    display: block;
    outline: 2px solid transparent;
    width: 100%;
}

.forma input[type="submit"]:disabled,
.forma input[type="reset"]:disabled,
.forma button[type="submit"]:disabled {
    background-color: rgba(var(--black-rgb-color), .1);
    color: rgba(var(--black-rgb-color), .1);
    cursor: not-allowed;
}

.forma-open .fieldset {
    display: block;
}
.forma-open input,
.forma-open select,
.forma-open textarea {
    display: block; 
}

label.forma-manual:before {
    align-items: center;
    background-color: rgba(var(--black-rgb-color), .03);
    bottom: 0;
    content: '+';
    display: flex;
    justify-content: center;
    line-height: 1;
    position: absolute;
    right: -3rem;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 3rem;
}
label.forma-open.forma-manual:before {
    content: '-';
}