// _complete.scss 
:root {
    --font-mono: #{$font-mono};
    --font-google: #{$font-google};
    --primary-color: #{$primary};
    --secondary-color: #{$secondary};
    --error-color: #{$error};
    --success-color: #{$success};
    --warning-color: #{$warning};
    --info-color: #{$info};
    --white: #{$white};
    --black: #{$black};
    --space: #{$space};
}
/* _global.css */
*,
*:before,
*:after {
            box-sizing: none;
       -moz-box-sizing: none;
    -webkit-box-sizing: none;
    margin: 0;
    padding: 0;
}
body {
    font: $font-mono;
}
fieldset.forma {
    border: 1px solid rgba($black, .1);;
}
fieldset.forma legend {
    font-size: 110%;
    margin-left: $space;
    padding: 0 $space;
}
/* _forma-complete.css */
.forma {
    .forma-control,
    [type="submit"] {
        font: $font-mono;
        padding: $space;
    }
    label {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: $space;
        position: relative;
    }
    .forma-label {
        flex: 0 0 30%;
        order: 1;
    }
    .forma-valid {
        color: $success;
    }
    .forma-invalid {
        color: $error;
    }
    .forma-description {
        color: rgba($black, .5);
    }
    .forma-input {
    }
    .forma-message {
        font-size: 85%;
    }
    .forma-message:before {
    }
    .forma-fieldset {
        display: none;
        flex: 1 1 auto;
        order: 2;
        position: relative;
    }
    .forma-open .forma-fieldset {
        align-items: center;
        display: flex;
    }
    .forma-open .forma-fieldset:after {
        align-items: center;
        background-color: rgba($white, 1);
        border: 1px solid rgba($black, .1);
        content: 'Hit tab';
        display: flex; 
        font-size: 85%;
        padding: .3rem;
        position: absolute;
        right: 1rem;
        z-index: 10;
    }
    .forma-open .forma-manual:before {
        content: '-';
    }
    .forma-manual:before {
        align-items: center;
        content: '+';
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        order: 99; /* Make sure this is at the end of everything else. */
        padding: 0 $space;
    }
    .forma-fieldset * {
        width: calc(100% - 2rem - 2px); /* Fix fields width substract border & padding extra spacing. */
    }
    .forma-fieldset .forma-control {
        border: 1px solid rgba($black, .1);
        outline: 4px solid transparent;
    }
    .forma-fieldset .forma-control:focus {
        outline: 4px solid rgba($black, .1);
    }
    .forma-fieldset .forma-control:focus:valid {
        outline: 4px solid $success;
    }
    .forma-fieldset .forma-control:focus:invalid {
        outline: 4px solid $error;
    }
    .forma-fieldset select.forma-control {
        bottom: 0;
        height: inherit;
        height: 3rem;
        max-height: 4rem;
        top: 0;
        width: 100%;
    }
    [type="submit"] {
        background-color: $secondary;
        border: 0;
        color: rgba($white, 1);
        cursor: pointer;
        margin: $space;
        outline: 0;
        width: calc(100% - 2rem - 2px); /* Fix fields width substract border & padding extra spacing. */
    }
    [type="submit"]:focus,
    [type="submit"]:active,
    [type="submit"]:hover {
        background-color: $primary;
    }
    [type="submit"]:disabled {
        background-color: rgba($black, .2);
        color: rgba($black, .4);
        cursor: not-allowed;
    }
}