// _forma-base.scss 
:root {
    --font-mono: #{$font-mono};
    --font-google: #{$font-google};
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --error-color: #{$error-color};
    --success-color: #{$success-color};
    --warning-color: #{$warning-color};
    --info-color: #{$info-color};
    --white-rgb-color: #{$white-rgb-color};
    --black-rgb-color: #{$black-rgb-color};
    --space: #{$space};
}
/* _global.css */
*,
*:before,
*:after {
			box-sizing: none;
	   -moz-box-sizing: none;
	-webkit-box-sizing: none;
	margin: 0;
	padding: 0;
}
body {
    font: $font-mono;
}
/* _forma-base.css */
.forma {
	input,
	select,
	textarea,
	button {
		font: $font-mono;
   		padding: $space;
	}
	label {
		cursor: pointer;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    padding: $space;
	    position: relative;
	}
	label span {
		flex: 0 0 30%;
	    order: 1;
	}
	label span.forma-valid {
	}
	label span.forma-invalid {
	}
	label span .forma-description {
	}
	label span .forma-input {
	}
	label span .forma-message {
	}
	label span .forma-message:before {
	}
	label .forma-fieldset {
		display: none;
	    flex: 1 1 auto;
	    order: 2;
	    position: relative;
	}
	label.forma-open .forma-fieldset {
		align-items: center;
	    display: flex;
	}
	label.forma-open .forma-fieldset:after {
	}
	label.forma-open.forma-manual:before {
	}
	label.forma-manual:before {
	}
	label .forma-fieldset * {
	}
	label .forma-fieldset input,
	label .forma-fieldset select,
	label .forma-fieldset textarea,
	label .forma-fieldset button {
	}
	label .forma-fieldset input:focus,
	label .forma-fieldset select:focus,
	label .forma-fieldset textarea:focus,
	label .forma-fieldset button:focus {
	}
	label .forma-fieldset input:focus:valid,
	label .forma-fieldset select:focus:valid,
	label .forma-fieldset textarea:focus:valid,
	label .forma-fieldset button:focus:valid {
	}
	label .forma-fieldset input:focus:invalid,
	label .forma-fieldset select:focus:invalid,
	label .forma-fieldset textarea:focus:invalid,
	label .forma-fieldset button:focus:invalid {
	}
	label .forma-fieldset select {
	}
	[type="submit"] {
		background-color: rgba($black-rgb-color, .1);
	    border: 0;
	    cursor: pointer;
	    margin: $space;
	    outline: 0;
	}
	[type="submit"]:focus,
	[type="submit"]:active,
	[type="submit"]:hover {
	}
	[type="submit"]:disabled {
	}
}