// _variables.scss
/* _font.css */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/* _root.css */
$font-mono: 400 normal 16px/1.6 'Monaco', 'Consolas', 'Andale Mono', 'Ubuntu Mono', monospace;
$font-google: 400 normal 16px/1.6 'Source Sans Pro', sans-serif;
$primary: #d65bd1;
$secondary: #845ec2;
$error: #fc4444;
$success: #008f7a;
$warning: #ff9671;
$info: #0081cf;
$white: #fafafa; //250, 250, 250
$black: #191919; //25, 25, 25
$space: 1rem;